{% extends 'components/templates/default.njk' %}

{% from "components/atoms/title.njk" import title %}
{% from "components/atoms/hero.njk" import hero %}
{% from "components/organisms/feed.njk" import feed %}

{% set pageTitle = tag.name %}

{% set bodyClass = 'tag' %}

{% block content %}
    <div class="tag__title">{{ title(tag.name) }}</div>
    {% if tag.description %}
        <p class="tag__description">{{ tag.description }}</p>
    {% endif %}
    <div class="tag__image">
        {% if tag.cover_image %}
            {{ hero(tag.cover_image, tag.name) }}
        {% endif %}
    </div>
    <div class="tag__feed">
        {{ feed(tag.posts) }}
    </div>
    
{% endblock %}

{%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ site.twitter }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ site.url + page.url }}">
    <meta name="twitter:title" content="{{ pageTitle }} – {{ site.title }}">
    <meta name="twitter:description" content="{{ tag.description }}">
    <meta name="twitter:image" content="{{ tag.feature_image }}">

    <!--Schema-->
    <link rel="publisher" href="{{ site.url }}">
    <meta itemprop="name" content="{{ pageTitle }} – {{ site.title }}">
    <meta itemprop="description" content="{{ content }}">
    <meta itemprop="image" content="{{ tag.feature_image }}">

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{ site.url + page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ pageTitle }} – {{ site.title }}">
    <meta property="og:image" content="{{ tag.feature_image }}">
    <meta property="og:description" content="{{ content }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="{{ site.lang }}">
    <meta property="article:author" content="{{ site.url }}">
{%- endblock -%}
