.author {
  display: grid;
  grid-gap: var(--grid-gap-mobile);
  grid-template-columns: 1fr 4fr;
  padding: 20px;
  background: var(--color-primary);
  color: var(--color-text-inverted);
  
  &__image {
    display: block;
    width: 100%;
  }

  &__name {
    color: var(--color-text-inverted);
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  &__link:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 400px) {
  
  .author {
    grid-gap: var(--grid-gap-desktop);
  }
}
  