{% extends 'layouts/default.njk' %}

{% from "components/atoms/title.njk" import title %}
{% from "components/atoms/hero.njk" import hero %}
{% from "components/molecules/post-meta.njk" import postMeta %}
{% from "components/molecules/related-posts.njk" import relatedPosts %}
{% from "components/organisms/editor-content.njk" import editorContent %}

{% set postTitle = post.title %}
{% set codeinjection_head = post.codeinjection_head %}
{% set codeinjection_foot = post.codeinjection_foot %}

{% set bodyClass = 'post' %}

{% block content %}
    <div class="post__title">{{ title(post.title) }}</div>
    <div class="post__hero">
        {% if post.feature_image %}
            {{ hero(post.feature_image, post.title) }}
        {% endif %}
    </div>

    <div class="post__meta post__meta--cosmetic"></div>
    <div class="post__meta">
        {{ postMeta(author=post.primary_author, date=post.published_at, tags=post.tags, text=post.html) }}
    </div>
    
    <div class="post__content">
        {{ editorContent(post.html) }}
    </div>

    <div class="post__footer">
        {% if post.primary_tag and post.related.length %}
            {{ relatedPosts(post.related, post.primary_tag) }}
        {% endif %}
        {{ relatedPosts(post.latest, title="Also on other topics") }}
    </div>
{% endblock %}

{%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ post.primary_author.twitter }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ site.url + page.url }}">
    <meta name="twitter:title" content="{{ postTitle }} – {{ site.title }}">
    <meta name="twitter:description" content="{{ post.excerpt }}">
    <meta name="twitter:image" content="{{ post.feature_image }}">

    <!--Schema-->
    <link rel="author" href="{{ post.primary_author.website }}">
    <link rel="publisher" href="{{ site.url }}">
    <meta itemprop="name" content="{{ postTitle }} – {{ site.title }}">
    <meta itemprop="description" content="{{ post.excerpt }}">
    <meta itemprop="image" content="{{ post.feature_image }}">

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{ site.url + page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ postTitle }} – {{ site.title }}">
    <meta property="og:image" content="{{ post.feature_image }}">
    <meta property="og:description" content="{{ post.excerpt }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="{{ site.lang }}">
    <meta property="article:author" content="{{ site.url }}">
{%- endblock -%}