@import "../settings/tokens";

.pyramid-svg,
.pyramid {
  height: auto;
  max-width: 100%;
}

.pyramid__layer,
.pyramid__text {
  stroke: none;
  fill: var(--theme-primary-light);
}

.pyramid,
.pyramid__divide {
  stroke: var(--theme-primary-dark);
  stroke-width: 5px;
  fill: transparent
}

.pyramid--back {
  fill: var(--theme-primary-dark);
}

.pyramid__text {
  font-family: $font-family-body-copy;
  fill: var(--theme-text-inverted);
  font-size: 1.44rem;
}
  
.pyramid__arrow {
  fill: var(--theme-secondary-dark);
  stroke: var(--theme-secondary-dark);
}

.pyramid__arrow-text {
  font-size: 1.2rem;
  font-family: $font-family-body-copy;
  fill: var(--theme-text-normal);
}