.home {
  
  &__feed {
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 20px;
  }

  &__pagination {
    grid-column: 1 / -1;
  }
}

@media (min-width: 400px) {

  .home {

    &__feed {
      grid-column: 2 / span 6;
    }

    &__pagination {
      grid-column: 2 / span 5;
    }
  }
}

@media (min-width: 1200px) {

  .home {

    &__feed {
      grid-column: 2 / span 5;
      margin: -10px;
    }
  }
}