---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "eleventyComputed": {
    "metadata": {
      "title": "{{ site.title }}",
      "subtitle": "{{ site.description }}",
      "url": "{{ site.url }}",
      "feedUrl": "{{ site.url }}feed.xml",
      "author": {
        "name": "{{ site_author.name }}"
      }
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <uri>{{ metadata.url }}</uri>
  </author>
  {%- for post in collections.posts %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.updated_at | dateToRfc3339 }}</updated>
    <published>{{ post.published_at | dateToRfc3339 }}</published>
    <id>{{ absolutePostUrl }}</id>
    <author>
      <name>{{ post.primary_author.name }}</name>
      <uri>{{ metadata.url }}</uri>
    </author>
    <summary>{{ post.excerpt }}</summary>
    <content type="html">{{ post.basic_html | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>