:root {
  --color-primary-normal: $color-theme-default-primary-normal;
  --color-primary-light: $color-theme-default-primary-light;
  --color-primary-dark: $color-theme-default-primary-dark;
  --color-secondary-normal: $color-theme-default-secondary-normal;
  --color-secondary-dark: $color-theme-default-secondary-dark;
  --color-tertiary: $color-theme-default-tertiary;
  --color-text-normal: $color-theme-default-text-normal;
  --color-text-dark: $color-theme-default-text-dark;
  --color-text-inverted: $color-theme-default-text-inverted;
  --color-base: $color-theme-default-base;
  --color-error: $color-theme-default-error;

  // 003049 & FCBF49 ORIGINAL
  // 004E64 & 218380
  // 28464B & 984447
  // 28464B & 2C8C99
  // 28464B & E58F65
  // D05353 & E58F65
  // 983D3D & E58F65
  // 13505B & 64A6B3
  // 2C4251 & A67F8E
  // 34344A & CC5A71
  // 2D3142 & 9ABD97
  // 2D3142 & EF8354
  // 153131 & E08DAC
  // 6E9887 & FFB7C5 // cherry blossom
  // ad2139 & FFB7C5 // cherry blossom 2
  // 2D2D34 & FFB7C5 // cherry blossom 3
}