
:root {
  // Colours
  // --color-base: #f5f4f4; // Cooler - #f5f4f4 / Warmer #f3f1ea
  --color-tertiary: #025f7d;
  --color-text: #3c484e;
  --color-text-dark: #000;
  --color-text-inverted: #fff;

  --color-base: #F5F1DE;
  --color-primary: #2D3142;
  --color-primary-light: #535664;
  --color-primary-dark: #252937;
  --color-secondary: #9ABD97;
  --color-secondary-dark: #7F9B7C;

  --color-error: #942e2e;

  // 003049 & FCBF49 ORIGINAL
  // 004E64 & 218380
  // 28464B & 984447
  // 28464B & 2C8C99
  // 28464B & E58F65
  // D05353 & E58F65
  // 983D3D & E58F65
  // 13505B & 64A6B3
  // 2C4251 & A67F8E
  // 34344A & CC5A71
  // 2D3142 & 9ABD97
  // 2D3142 & EF8354
  // 153131 & E08DAC
  // 6E9887 & FFB7C5 // cherry blossom
  // ad2139 & FFB7C5 // cherry blossom 2
  // 2D2D34 & FFB7C5 // cherry blossom 3
}