{% from "components/atoms/image.njk" import image %}

{% macro metaitem(text) %}
    <span class="card__meta-item">
        {{ text }}
    </span>
{% endmacro %}

{% macro card(post) %}
    <a href="{{ post.url }}" class="card {% if post.featured %}card--featured{% endif %}">
        {% if post.feature_image %}
            <div class="card__image">
                {{ image(post.feature_image, post.title) }}
            </div>
        {% endif %}
        <div class="card__body">
            <h4 class="card__title {% if post.featured %}  text--inverted{% endif %}">{{ post.title }}</h4>
            <p class="card__meta">
                {{ metaitem("Featured") if post.featured }}
                {{ metaitem(post.published_at | safe | getFormattedTime) }}
                {{ metaitem(post.html | safe | getReadingTime) }}
                {{ metaitem(post.primary_author.name) }}
                {{ metaitem(post | getTags) }}
            </p>
            <p>{{ post.excerpt }}</p>
        </div>
    </a>
{% endmacro %}

{# <Image
    className="card__image"
    alt={post.title}
    {...post.featureImageSharp?.childImageSharp?.card}
    backgroundColor={post.featureImageSharp?.colors.muted}
    sizes="(min-width: 575px) calc(17vw - 40px), calc(100vw - 50px)"
/> #}
            