{% from "components/atoms/input.njk" import input %}
{% from "components/atoms/textarea.njk" import textarea %}
{% from "components/atoms/button.njk" import button %}

{% macro contactForm() %}
    <form
        name="contact"
        method="post"
        action="/contact-thanks/"
        class="contact-form"
        data-netlify="true"
        data-netlify-honeypot="bot"
    >
        {{ input(name="contact-form", value="Contact Form", type="hidden") }}
        <div hidden>
            <label htmlFor="bot">Ignore</label>
            {{ input(id="bot", name="bot") }}
        </div>
        <div class="contact-form__field contact-form__field--narrow">
            <label htmlFor="name" class="contact-form__label text-s">Name</label>
            {{ input(id="name", name="name", required=true) }}
        </div>
        <div class="contact-form__field contact-form__field--narrow">
            <label htmlFor="email" class="contact-form__label text-s">Email address</label>
            {{ input(id="email", name="email", type="email", required=true) }}
        </div>
        <div class="contact-form__field">
            <label htmlFor="message" class="contact-form__label text-s">Message</label>
            {{ textarea(id="message", name="message", required=true, spellcheck=true) }}
        </div>
        <div class="contact-form__field contact-form__field--narrow">
            {{ button(text="Send Message", type="submit") }}
        </div>
    </form>
    <script src="/js/contact.js" defer></script>
{% endmacro %}


