{% from "components/molecules/pagination.njk" import pagination %}
{% from "components/organisms/card.njk" import card %}

{% macro feed(posts, paginationData) %}
    <section class="feed">
        {% if posts.length %}
            {% for post in posts %}
                <div class="feed__card">
                {{ card(post) }}
                </div>
            {% endfor %}
            <div class="feed__pagination">
                {{ pagination(paginationData) }}
            </div>
        {% else %}
            <p>No posts</p>
        {% endif %}
    </section>
{% endmacro %}