{% from "components/molecules/author-bio.njk" import authorbio %}

<footer class="footer">
    {# { author && <AuthorBio className="footer__bio" {...author} hideSocial box />} #}
    {% if site.site_author %}
        <div class="footer__bio">
         {{ authorbio(site.site_author, box=true, hideSocial=true) }}
        </div>
    {% endif %}
    <nav class="footer__nav text">
        {% for item in site.secondary_navigation %}
            <a {% if page.url == item.url %}aria-current="page"{% endif %} class="footer__nav-item" href="{{ item.url }}">
                {{ item.label }}
            </a>
        {% endfor %}
    </nav>
</footer>