<header class="header">
    <div class="header__logo">{% include "components/atoms/logo.njk" %}</div>
    <div class="header__nav">{% include "components/molecules/main-navigation.njk" %}</div>
</header>