<button class="nav nav--theme js-theme-button" aria-label="Open theme switcher menu" aria-controls="themeDrawer">
    {% include "../images/paint-roller.svg" %}
</button>
<button class="nav js-menu-button" aria-label="Open main menu">
    {% for i in (0..3) %}
        <span class="nav__icon-bar"></span>
    {% endfor %}
</button>
<div class="nav__overlay js-menu-overlay"></div>
<nav class="nav__menu js-menu-main">
    {% for item in site.navigation %}
        <a {% if page.url == item.url %}aria-current="page"{% endif %} class="nav__menu-item" href="{{ item.url }}">
            {{ item.label }}
        </a>
    {% endfor %}
</nav>