{% from "components/atoms/link.njk" import link %}

{% macro pagination(paginationData) %}
    {% if paginationData.href.previous or paginationData.href.next %}
    <nav class="pagination" role="pagination">
        {% if page.permalink != paginationData.href.previous %}
            <p class="pagination__prev">
                {{ link(paginationData.href.previous, "&larr; Previous", rel="prev") }}
            </p>
        {% endif %}
        {% if paginationData.hrefs.length > 1 %}
            <span class="pagination__count text-s">{{ paginationData.pageNumber + 1 }} of {{ paginationData.hrefs.length }}</span>
        {% endif %}
        {% if page.permalink != paginationData.href.next %}
            <p class="pagination__next">
                {{ link(paginationData.href.next, "Next &rarr;", rel="next") }}
            </p>
        {% endif %}
    </nav>
{% endif %}
{% endmacro %}