{% from "components/atoms/link.njk" import link %}

{% macro postMeta(author=null, date=null, tags=null, text=null) %}
    <aside class="post-meta">
        <p class="post-meta__row">{{ date | getFormattedTime }}</p>
        {% if text %}
            <p class="post-meta__row">{{ text | safe | getReadingTime }}</p>
        {% endif %}
        <p class="post-meta__row">By {{ link("/author/" + author.slug, author.name) }}</p>
        {% if tags.length %}
            <p class="post-meta__row">
                Posted in
                {% for tag in tags %}
                    {{ "and" if loop.last and not loop.first }}
                    {{ ", " if not loop.last and not loop.first }}
                    {{ link("/tag/" + tag.slug, tag.name)}}
                {% endfor %}
            </p>
        {% endif %}
    </aside>
{% endmacro %}