{% if posts %}
    <aside class="related-posts">
        {% if title %}
                <h3 class="related-posts__title text heading-5">{{ title }}</h3>
            {% elsif tag.name and tag.url %}
                <h3 class="related-posts__title text heading-5">Also on {% include "components/atoms/link" href: tag.url, text: tag.name %}</h3>    
            {% endif %}
            <ul class="related-posts__items">
                {% for post in posts %}
                    <li class="text-s related-posts__item">
                        {% include "components/atoms/link" href: post.url, text: post.title %}
                    </li>
                {% endfor %}
            </ul>
    </aside>
{% endif %}